/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1280,18,1.333,6,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step 0: 16px → 18px */
  --step-0: clamp(1rem, 0.9511rem + 0.2174vw, 1.125rem);
  /* Step 1: 19.2px → 23.994px */
  --step-1: clamp(1.2rem, 1.0828rem + 0.5211vw, 1.4996rem);
  /* Step 2: 23.04px → 31.984px */
  --step-2: clamp(1.44rem, 1.2213rem + 0.9722vw, 1.999rem);
  /* Step 3: 27.648px → 42.6347px */
  --step-3: clamp(1.728rem, 1.3615rem + 1.629vw, 2.6647rem);
  /* Step 4: 33.1776px → 56.832px */
  --step-4: clamp(2.0736rem, 1.4951rem + 2.5711vw, 3.552rem);
  /* Step 5: 39.8131px → 75.7571px */
  --step-5: clamp(2.4883rem, 1.6093rem + 3.907vw, 4.7348rem);
  /* Step 6: 47.7757px → 100.9842px */
  --step-6: clamp(2.986rem, 1.6847rem + 5.7835vw, 6.3115rem);
}

body {
  font-family: var(--font-body);
  color: var(--color-body);
  font-size: var(--step-0);
}

a:link {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground);
  font-family: var(--font-heading);
  font-weight: 900;
}

h1 {
  font-size: var(--step-5);
  line-height: 1.1;
}

h2 {
  font-size: var(--step-4);
  line-height: 1.15;
}

h3 {
  font-size: var(--step-3);
  line-height: 1.2;
}

h4 {
  font-size: var(--step-2);
  line-height: 1.25;
}

h5 {
  font-size: var(--step-1);
  line-height: 1.3;
}
