.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  #respond
  input#submit,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  input.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  #respond
  input#submit,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  a.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  button.button,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  input.button {
  border-radius: 8px;
  font-weight: 600;
  //background-color: transparent;
  // color: var(--color-brand-500);
  background-color: var(--color-brand-500);
  color: #fff;
  font-weight: 400;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    opacity 0.3s ease;
  border: 1px solid var(--color-brand-500);
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  #respond
  input#submit:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  input.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  #respond
  input#submit:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  a.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  button.button:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  input.button:hover {
  background-color: var(--color-brand-500);
  color: #fff;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  #respond
  input#submit.disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  #respond
  input#submit:disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  #respond
  input#submit:disabled[disabled],
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button.disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button:disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button:disabled[disabled],
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button.disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button:disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button:disabled[disabled],
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  input.button.disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  input.button:disabled,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  input.button:disabled[disabled],
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  #respond
  input#submit.disabled,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  #respond
  input#submit:disabled,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  #respond
  input#submit:disabled[disabled],
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  a.button.disabled,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  a.button:disabled,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  a.button:disabled[disabled],
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  button.button.disabled,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  button.button:disabled,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  button.button:disabled[disabled],
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  input.button.disabled,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  input.button:disabled,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  input.button:disabled[disabled] {
  // color: var(--color-brand-500);
  color: #fff;
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  #respond
  input#submit.disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  #respond
  input#submit:disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  #respond
  input#submit:disabled[disabled]:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button.disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button:disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button:disabled[disabled]:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button.disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button:disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  button.button:disabled[disabled]:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  input.button.disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  input.button:disabled:hover,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  input.button:disabled[disabled]:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  #respond
  input#submit.disabled:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  #respond
  input#submit:disabled:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  #respond
  input#submit:disabled[disabled]:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  a.button.disabled:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  a.button:disabled:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  a.button:disabled[disabled]:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  button.button.disabled:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  button.button:disabled:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  button.button:disabled[disabled]:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  input.button.disabled:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  input.button:disabled:hover,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(
    :not(.edit-post-visual-editor)
  )
  .woocommerce
  input.button:disabled[disabled]:hover {
  background-color: var(--color-brand-500);
  color: #fff;
}
