body.woocommerce-cart .elementor-widget-container .woocommerce {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: start;
  .woocommerce-notices-wrapper {
    flex: 0 0 100%;
    & > div {
      margin: 0;
    }
  }

  .woocommerce-cart-form {
    flex: 2;

    a {
      color: #171717;
      font-weight: 500;
    }
  }
  .cart-collaterals {
    h2 {
      margin-inline: 12px;
      margin-block: 1rem;
    }

    padding: 1rem;
    border: 1px solid #e7e7e7;
    border-radius: 1rem;

    flex: 1;

    table {
      border: none;
    }

    .cart_totals {
      float: none;
      width: auto;
    }
  }
}

.woocommerce table.shop_table {
  font-size: 1rem;
  border: 1px solid #e7e7e7;
  border-radius: 8px;

  thead {
    color: #6b7280;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.woocommerce table.shop_table td {
  border-top: 1px solid #e7e7e7;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: 500;

  transition: background-color 0.3s ease;
  background-color: var(--primary);
  color: #fff;

  &:hover {
    background-color: #35482b;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: 1px solid #cfc8d8;
  background-color: #f0f0f0;
  color: #f0f0f0;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-radius: 4px 4px 0 0;
  margin: 0 -5px;
  padding: 0 1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  font-weight: 600;
}
