#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 60px;
  border-radius: 4px;
}

.woocommerce #content table.cart td.actions,
.woocommerce table.cart td.actions,
.woocommerce-page #content table.cart td.actions,
.woocommerce-page table.cart td.actions {
  padding: 1em;
}

@media only screen and (max-width: 768px) {
  .woocommerce-cart-form__cart-item .product-quantity .quantity {
    justify-content: end;
  }
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  font-weight: normal;
  transition: background-color 0.3s ease;
  background-color: #a64826;
  border: none;
  color: #fff;
  &:hover {
    background-color: #8c4024;
  }
}
