#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: rgba(80, 108, 65, 0.14);
  border-radius: 5px;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  background-color: #fff;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
  border: 1em solid #fff;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

#add_payment_method #payment div.payment_box p:last-child,
.woocommerce-cart #payment div.payment_box p:last-child,
.woocommerce-checkout #payment div.payment_box p:last-child {
  margin-top: 0;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  padding: 1em;
  width: 100%;
  font-weight: 500;
  transition: background-color 0.3s ease;
  background-color: #a64826;
  border: none;
  color: #fff;

  &:hover {
    background-color: #8c4024;
  }
}

.woocommerce-privacy-policy-text {
  font-size: 16px;
}
