.woocommerce-form-coupon-toggle .woocommerce-info {
  margin-bottom: 1rem;
}

.woocommerce .checkout_coupon.woocommerce-form-coupon {
  & {
    margin-top: 1rem;
  }

  .form-row {
    margin: 0;
    padding: 0;
  }

  .form-row-last {
    float: left;
    margin-left: 0.8rem;
  }

  @media (max-width: 767px) {
    .form-row-first {
      float: none;
      width: 100%;
    }

    .form-row-last {
      float: none;
      margin-top: 0.5rem;
      margin-left: 0;
      width: 100%;
    }
  }
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  margin: 0 8px 0 0;
  padding: 0.4em 0.6em;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background: rgba(80, 108, 65, 0.14);
  border-radius: 5px;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
  background-color: #fff;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
  border: 1em solid #fff;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  transition: background-color 0.3s ease;
  background-color: #d26137;
  border: none;
  color: #fff;

  &:hover {
    background-color: #8c4024;
  }
}
