.woocommerce form .form-row .input-text,
.woocommerce form .form-row select {
  font-family: inherit;
  font-weight: 400;
  letter-spacing: normal;
  padding: 0.5em;
  display: block;
  background-color: var(--wc-form-color-background, #fff);
  border: var(--wc-form-border-width) solid var(--wc-form-border-color);
  border-radius: var(--wc-form-border-radius);
  color: var(--wc-form-color-text, #000);
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  line-height: normal;
  height: auto;
}
