.woocommerce div.product div.images img {
  border-radius: 1em;
}

#main #review_form #respond p {
  margin-top: 0.5rem;
}

.woocommerce div.product form.cart .button {
  transition: background-color 0.3s ease;
  background-color: #d26137;
  border: none;
  color: #fff;

  &:hover {
    background-color: #8c4024;
  }
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme))
  div.product
  span.price {
  color: var(--color-brand-500);
  font-weight: 600;
  font-size: var(--head-5);
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .stock {
  color: var(--color-brand-500);
  font-weight: 600;
  font-size: 1rem !important;
}
