@use "./globals.scss";
@use "./buttons.scss";
@use "./layout.scss";
@use "./table.scss";
@use "./notices.scss";
@use "./product-grid.scss";
@use "./product-grid-item.scss";
@use "./product-grid-pagination.scss";
@use "./single-product.scss";
@use "./cart.scss";
@use "./checkout.scss";
@use "./coupon-cart.scss";
@use "./coupon-checkout.scss";
@use "./coupon.scss";
@use "./add-to-cart.scss";
@use "./my-account.scss";

body.archive .content-area,
body.woocommerce-shop .content-area,
body.single-product .content-area {
  padding-inline-start: max(2rem, calc((100% - 1140px) / 2));
  padding-inline-end: max(2rem, calc((100% - 1140px) / 2));

  @media (max-width: 767px) {
    & {
      padding-inline-start: max(1rem, calc((100% - 1140px) / 2));
      padding-inline-end: max(1rem, calc((100% - 1140px) / 2));
    }
  }
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: var(--color-brand-500);
  color: #fff;
}

.select2-container--default .select2-results > .select2-results__options {
  background-color: #fafbf9;
}

.woocommerce .star-rating {
  color: var(--color-brand-500);
}

.woocommerce {
  h1 {
    font-size: var(--step-3);
  }

  h2 {
    font-size: var(--step-2);
  }

  h3 {
    font-size: var(--step-2);
    line-height: 1;
    margin-block: 0.6em;
  }
}
