@use "./reset.scss";
@use "./globals.scss";
@use "./buttons.scss";
@use "./table.scss";
@use "./notices.scss";
@use "./product-grid.scss";
@use "./product-grid-item.scss";
@use "./product-grid-pagination.scss";
@use "./single-product.scss";
@use "./cart.scss";
@use "./checkout.scss";
@use "./add-to-cart.scss";

body.archive .content-area,
body.woocommerce-shop .content-area,
body.single-product .content-area {
  padding-inline-start: max(2rem, calc((100% - 1140px) / 2));
  padding-inline-end: max(2rem, calc((100% - 1140px) / 2));

  @media (max-width: 767px) {
    & {
      padding-inline-start: max(1rem, calc((100% - 1140px) / 2));
      padding-inline-end: max(1rem, calc((100% - 1140px) / 2));
    }
  }
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: var(--color-brand-500);
  color: #fff;
}

.select2-container--default .select2-results > .select2-results__options {
  background-color: #fafbf9;
}

.woocommerce .star-rating {
  color: var(--color-brand-500);
}

.woocommerce {
  h1 {
    font-size: var(--step-3);
  }

  h2 {
    font-size: var(--step-2);
  }

  h3 {
    font-size: var(--step-2);
    line-height: 1;
    margin-block: 0.6em;
  }
}

// https://oodlepaws.test/checkout/order-received/1049/?key=wc_order_RerMw78oOZFJh
.woocommerce .woocommerce-customer-details address {
  padding: 1rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.5em;
}

.woocommerce ul.order_details {
  & {
    width: fit-content;
  }

  &::after,
  &::before {
    position: absolute;
  }

  margin: 0 0 3em;
  list-style: none;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  gap: 1rem 2rem;
  padding: 0;
}

.woocommerce ul.order_details li {
  float: none;
  width: auto;
  margin-right: 0;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1;
  border-right: 0;
  padding-right: 0;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
