@import "./reset.css";
@import "./globals.css";
@import "./buttons.css";
@import "./product-grid.css";
@import "./product-grid-item.css";
@import "./single-product.css";
@import "./cart.css";
@import "./checkout.css";
@import "./add-to-cart.css";
@import "./table.css";

body.archive .content-area,
body.woocommerce-shop .content-area,
body.single-product .content-area {
  padding-inline-start: max(2rem, calc((100% - 1140px) / 2));
  padding-inline-end: max(2rem, calc((100% - 1140px) / 2));

  @media (max-width: 767px) {
    & {
      padding-inline-start: max(1rem, calc((100% - 1140px) / 2));
      padding-inline-end: max(1rem, calc((100% - 1140px) / 2));
    }
  }
}

.woocommerce div.product form.cart div.quantity {
  margin: 0 1rem 0 0;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: var(--primary);
  color: #fff;
}

.select2-container--default .select2-results > .select2-results__options {
  background-color: #fafbf9;
}

.woocommerce .star-rating {
  color: var(--primary);
}

.woocommerce-message {
  border-top-color: var(--primary);
}

.woocommerce-message::before {
  color: var(--primary);
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 80px;
  border-radius: 4px;
}

.woocommerce {
  h1 {
    font-size: var(--step-3);
  }

  h2 {
    font-size: var(--step-2);
  }

  h3 {
    font-size: var(--step-2);
    line-height: 1;
    margin-block: 0.6em;
  }
}
